@using ExceptionTest.Model
@model IEnumerable<OrdersDTO>
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    title</h2>
<table>
    @foreach (var order in Model)
    {
        <tr>
            <td>@order.OrderDate</td>
            <td>@order.CompanyName</td>
            <td>@order.FirstName</td>
            <td>@order.LastName</td>
        </tr>
    }
</table>
